<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Timeline JS -->
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <!-- Timeline CSS & SCSS -->
  <link rel="stylesheet" href="static/css/timeline.css">
  <link rel="stylesheet" href="static/css/timeline.scss">
  <!-- Main CSS -->
  <link rel="stylesheet" href="static/css/template.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Marie's Life</title>
</head>

<body style="background-color: #F2F2F2">
  {% extends "template.html" %}
  {% block content %}

  <style media="screen">
    .cool_button {
        padding: 20px 40px;
        background: none;
        border: none;
        position: relative;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
        cursor: pointer;
      }
    .cool_button:after, .cool_button:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 2px solid #FC3;
      transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s;
    }
    .cool_button_black:after, .cool_button_black:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 2px solid #000;
      transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s;
    }
    .cool_button:after {
      -webkit-transform: translate(3px, 3px);
              transform: translate(3px, 3px);
    }
    .cool_button:before {
      -webkit-transform: translate(-3px, -3px);
              transform: translate(-3px, -3px);
    }
    .cool_button:hover:after, .cool_button:hover:before {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    .cd-h-timeline__event-title {
      font-family: sans-serif;
      font-size: 48px;
      color: #000000;
      letter-spacing: 2px;
      line-height: 70px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .zoom:hover {
      transform: scale(1.2);
  </style>

  <!-- Header -->
  <div class="container header button mt-5">
    <div class="row align-items-end justify-content-between">
      <div class="col-2 this_is_me"><a href="{{ url_for('home') }}" style="color: #000000;">home</a></div>
      <div class="col-3 blank"></div>
      <div class="col-2 contact_link">this is me</div>
      <div class="col-3 blank"></div>
      <div class="col-2 contact_link"><a href="{{ url_for('contact') }}" style="color: #000000;">contact</a></div>
    </div>
  </div>


  <!-- Introduction -->
  <div class="container introduction px-5">
    <div class="row align-items-center">
      <div class="col-8">
        <h1>Hi! I am Marie.</h1>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-4 pl-5">
        <img src="static/images/marie.jpg">
      </div>
    </div>
  </div>

  <!-- Portfolio -->
  <div class="container portfolio py-5">
    <div class="row">
      <h2 class="pl-5" style="color: #FFFFFF; font-size: 20px;">portfolio</h2>
    </div>
    <div class="row align-items-center mt-4 pt-5">
      <!-- TODO: hovered, make image move -->
      <div class="col d-flex justify-content-center">
        <!-- TODO: Change the image -->
        <a href="{{ url_for('portfolio') }}"><img src="static/images/img_design.png"></a>
      </div>
    </div>
    <div class="row align-items-center py-5">
      <div class="col d-flex justify-content-center">
        <a href="{{ url_for('portfolio') }}" id="portfolio_link" style="color: #000;"><button class="bold_text btn cool_button cool_button_black button">SEE WHAT I AM DOING</button></a>
      </div>
    </div>
  </div>

  <!-- About Me -->
  <div class="container about_me py-5">
    <div class="row">
      <h2 class="pl-5" style="color: #FFFFFF; font-size: 20px;">about me</h2>
    </div>
    <div class="row align-items-center pt-3">
      <div class="col-4 pl-5">
        <h1>story</h1>
      </div>
      <div class="col-4 pl-5">
        <h1>info</h1>
      </div>
      <div class="col-4 pl-5">
        <h1>skills</h1>
      </div>
    </div>
    <div class="row align-items-start pt-1 pb-5">
      <div class="col-4 pl-5 pt-1">
        <p class="text">Born in Vienna and currently continuing my journey in Berlin as an Interaction Design student, hoping to work with great people in the digital world. On the one hand I like to bring my own ideas to the table and take
          responsibility and on the other hand it is easy for me to follow certain instructions. I see my interpersonal skills as one of my greatest strengths, because my good mood will put a smile on your face.</p>
      </div>
      <div class="col-2 pl-5 bold_text">
        <p class="bold_text">Full Name</p>
        <p class="bold_text">Birthday</p>
        <p class="bold_text">City</p>
        <p class="bold_text">Email</p>
        <p class="bold_text">Phone</p>
      </div>
      <div class="col-2">
        <p class="text_info">Marie Spreitzer</p>
        <p class="text_info">18th June 1997</p>
        <p class="text_info">Berlin, Germany</p>
        <p class="text_info"><a href="mailto:spreitzermarie@gmail.com" style="color:#FFCC33">spreitzermarie@gmail.com</a></p>
        <p class="text_info">+43 664 366 4561</p>
      </div>
      <div class="col-4 px-5 pt-3">
        <p class="text_bar">HTML & CSS</p>
        <div class="progress">
          <div class="progress-bar bg-warning html_css" role="progressbar">60%</div>
        </div>
        <br>
        <p class="text_bar">Javascript</p>
        <div class="progress">
          <div class="progress-bar bg-warning Javascript" role="progressbar">15%</div>
        </div>
        <br>
        <p class="text_bar">Sketch</p>
        <div class="progress">
          <div class="progress-bar bg-warning Sketch" role="progressbar">70%</div>
        </div>
        <br>
        <p class="text_bar">Adobe Illustrator</p>
        <div class="progress">
          <div class="progress-bar bg-warning Illustrator" role="progressbar">35%</div>
        </div>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">
        <!-- TODO: download CV when clicked -->

        <a href="CV_Marie_Spreitzer2.pdf" download style="color:#000">
          <button type="button" class="btn cool_button button">Download CV</button></a>

      </div>
    </div>
  </div>

  <!-- What I Do -->
  <div class="container what_i_do py-5">
    <div class="row">
      <h2 class="pl-5" style="color: #FFFFFF; font-size: 20px;">what i like to do</h2>
    </div>
    <!-- TODO: add animations-->
    <div class="row align-items-center mt-4 pt-5">
      <div class="col-3 d-flex justify-content-center zoom">
        <img src="static/images/img_ideas.png">
      </div>
      <div class="col-3 d-flex justify-content-center zoom">
        <img src="static/images/img_sketches.png">
      </div>
      <div class="col-3 d-flex justify-content-center zoom">
        <img src="static/images/img_graphics.png">
      </div>
      <div class="col-3 d-flex justify-content-center zoom">
        <img src="static/images/img_code2.png">
      </div>
    </div>
    <div class="row align-items-center pt-3">
      <div class="col-3 d-flex justify-content-center">
        <h4>Ideas</h4>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <h4>Sketches</h4>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <h4>Graphics</h4>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <h4> Frontend Code</h4>
      </div>
    </div>
    <div class="row align-items-center pb-5">
      <div class="col-3 d-flex justify-content-center">
        <p class="text">think of something great</p>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <p class="text">see how it could look</p>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <p class="text">get the design done</p>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <p class="text">build the frontend of the project</p>
      </div>
    </div>
  </div>

  <!-- My Journey -->
  <div class="container my_journey py-5">
    <div class="row">
      <h2 class="pl-5" style="color: #FFFFFF; font-size: 20px;">my journey</h2>
    </div>
    <!-- TODO: TIMELINE -->
    <section class="cd-h-timeline js-cd-h-timeline margin-bottom--md">
      <div class="cd-h-timeline__events">
        <ol>
          <li class="cd-h-timeline__event cd-h-timeline__event--selected text-component">
            <div class="cd-h-timeline__event-content container">
              <h1 class="cd-h-timeline__event-title mt-5" style="font-family: AvenirNext-Bold, sans-serif">When it all started</h1>
              <em class="cd-h-timeline__event-date" style="font-family: AvenirNext-Regular, sans-serif">June 18th, 1997</em>
              <p class="cd-h-timeline__event-description text--subtle" style="font-family: AvenirNext-Regular, sans-serif">
                I was born in Vienna.
              </p>
            </div>
          </li>

          <li class="cd-h-timeline__event text-component">
            <div class="cd-h-timeline__event-content container">
              <h1 class="cd-h-timeline__event-title mt-5" style="font-family: AvenirNext-Bold, sans-serif">When it all started</h1>
              <em class="cd-h-timeline__event-date" style="font-family: AvenirNext-Regular, sans-serif">June 18th, 1997</em>
              <p class="cd-h-timeline__event-description text--subtle" style="font-family: AvenirNext-Regular, sans-serif">
                I was born in Vienna.
              </p>
            </div>
          </li>

          <li class="cd-h-timeline__event text-component">
            <div class="cd-h-timeline__event-content container">
              <h1 class="cd-h-timeline__event-title mt-5" style="font-family: AvenirNext-Bold, sans-serif">When it all started</h1>
              <em class="cd-h-timeline__event-date" style="font-family: AvenirNext-Regular, sans-serif">June 18th, 1997</em>
              <p class="cd-h-timeline__event-description text--subtle" style="font-family: AvenirNext-Regular, sans-serif">
                I was born in Vienna.
              </p>
            </div>
          </li>

          <li class="cd-h-timeline__event text-component">
            <div class="cd-h-timeline__event-content container">
              <h1 class="cd-h-timeline__event-title mt-5" style="font-family: AvenirNext-Bold, sans-serif">When it all started</h1>
              <em class="cd-h-timeline__event-date" style="font-family: AvenirNext-Regular, sans-serif">June 18th, 1997</em>
              <p class="cd-h-timeline__event-description text--subtle" style="font-family: AvenirNext-Regular, sans-serif">
                I was born in Vienna.
              </p>
            </div>
          </li>

          <li class="cd-h-timeline__event text-component">
            <div class="cd-h-timeline__event-content container">
              <h1 class="cd-h-timeline__event-title mt-5" style="font-family: AvenirNext-Bold, sans-serif">When it all started</h1>
              <em class="cd-h-timeline__event-date" style="font-family: AvenirNext-Regular, sans-serif">June 18th, 1997</em>
              <p class="cd-h-timeline__event-description text--subtle" style="font-family: AvenirNext-Regular, sans-serif">
                I was born in Vienna.
              </p>
            </div>
          </li>

          <li class="cd-h-timeline__event text-component">
            <div class="cd-h-timeline__event-content container">
              <h1 class="cd-h-timeline__event-title mt-5" style="font-family: AvenirNext-Bold, sans-serif">When it all started</h1>
              <em class="cd-h-timeline__event-date" style="font-family: AvenirNext-Regular, sans-serif">June 18th, 1997</em>
              <p class="cd-h-timeline__event-description text--subtle" style="font-family: AvenirNext-Regular, sans-serif">
                I was born in Vienna.
              </p>
            </div>
          </li>

          <li class="cd-h-timeline__event text-component">
            <div class="cd-h-timeline__event-content container">
              <h1 class="cd-h-timeline__event-title mt-5" style="font-family: AvenirNext-Bold, sans-serif">When it all started</h1>
              <em class="cd-h-timeline__event-date" style="font-family: AvenirNext-Regular, sans-serif">June 18th, 1997</em>
              <p class="cd-h-timeline__event-description text--subtle" style="font-family: AvenirNext-Regular, sans-serif">
                I was born in Vienna.
              </p>
            </div>
          </li>

          <li class="cd-h-timeline__event text-component">
            <div class="cd-h-timeline__event-content container">
              <h1 class="cd-h-timeline__event-title mt-5" style="font-family: AvenirNext-Bold, sans-serif">When it all started</h1>
              <em class="cd-h-timeline__event-date" style="font-family: AvenirNext-Regular, sans-serif">June 18th, 1997</em>
              <p class="cd-h-timeline__event-description text--subtle" style="font-family: AvenirNext-Regular, sans-serif">
                I was born in Vienna.
              </p>
            </div>
          </li>

          <li class="cd-h-timeline__event text-component">
            <div class="cd-h-timeline__event-content container">
              <h1 class="cd-h-timeline__event-title mt-5" style="font-family: AvenirNext-Bold, sans-serif">When it all started</h1>
              <em class="cd-h-timeline__event-date" style="font-family: AvenirNext-Regular, sans-serif">June 18th, 1997</em>
              <p class="cd-h-timeline__event-description text--subtle" style="font-family: AvenirNext-Regular, sans-serif">
                I was born in Vienna.
              </p>
            </div>
          </li>

          <li class="cd-h-timeline__event text-component">
            <div class="cd-h-timeline__event-content container">
              <h1 class="cd-h-timeline__event-title mt-5" style="font-family: AvenirNext-Bold, sans-serif">When it all started</h1>
              <em class="cd-h-timeline__event-date" style="font-family: AvenirNext-Regular, sans-serif">June 18th, 1997</em>
              <p class="cd-h-timeline__event-description text--subtle" style="font-family: AvenirNext-Regular, sans-serif">
                I was born in Vienna.
              </p>
            </div>
          </li>

          <li class="cd-h-timeline__event text-component">
            <div class="cd-h-timeline__event-content container">
              <h1 class="cd-h-timeline__event-title mt-5" style="font-family: AvenirNext-Bold, sans-serif">When it all started</h1>
              <em class="cd-h-timeline__event-date" style="font-family: AvenirNext-Regular, sans-serif">June 18th, 1997</em>
              <p class="cd-h-timeline__event-description text--subtle" style="font-family: AvenirNext-Regular, sans-serif">
                I was born in Vienna.
              </p>
            </div>
          </li>
        </ol>
      </div> <!-- timeline__events -->
      <div class="cd-h-timeline__container container">
        <div class="cd-h-timeline__dates">
          <div class="cd-h-timeline__line">
            <ol>
              <li><a href="#0" data-date="18/06/1997" class="cd-h-timeline__date cd-h-timeline__date--selected">1997</a></li>
              <li><a href="#0" data-date="28/02/2014" class="cd-h-timeline__date">28 Feb</a></li>
              <li><a href="#0" data-date="20/04/2014" class="cd-h-timeline__date">20 Mar</a></li>
              <li><a href="#0" data-date="20/05/2014" class="cd-h-timeline__date">20 May</a></li>
              <li><a href="#0" data-date="09/07/2014" class="cd-h-timeline__date">09 Jul</a></li>
              <li><a href="#0" data-date="30/08/2014" class="cd-h-timeline__date">30 Aug</a></li>
              <li><a href="#0" data-date="15/09/2014" class="cd-h-timeline__date">15 Sep</a></li>
              <li><a href="#0" data-date="01/11/2014" class="cd-h-timeline__date">01 Nov</a></li>
              <li><a href="#0" data-date="10/12/2014" class="cd-h-timeline__date">10 Dec</a></li>
              <li><a href="#0" data-date="19/01/2015" class="cd-h-timeline__date">29 Jan</a></li>
              <li><a href="#0" data-date="03/03/2015" class="cd-h-timeline__date">3 Mar</a></li>
            </ol>

            <span class="cd-h-timeline__filling-line" aria-hidden="true"></span>
          </div>
          <!--timeline__line -->
        </div>
        <!--timeline__dates -->

        <ul>
          <li><a href="#0" class="text--replace cd-h-timeline__navigation cd-h-timeline__navigation--prev cd-h-timeline__navigation--inactive">Prev</a></li>
          <li><a href="#0" class="text--replace cd-h-timeline__navigation cd-h-timeline__navigation--next">Next</a></li>
        </ul>
      </div>
      <!--timeline__container -->

    </section>
  </div>


  <!-- Footer -->
  <div class="container footer button mb-5">
    <div class="row align-items-start justify-content-between">
      <div class="col-5"></div>
      <div class="col-2 this_is_me">
        That was me
      </div>
      <div class="col-5"></div>
    </div>
    <div class="row align-items-start justify-content-between mt-2">
      <div class="col social_media">
        <a href="https://www.facebook.com/profile.php?id=100000102691029&ref=bookmarks"><img src="static/images/img_fb.png" alt="Facebook"></a>
        <a href="https://www.linkedin.com/in/marie-spreitzer-386330170/"><img src="static/images/img_linkedin.png" alt="LinkedIn"></a>
        <a href="https://www.instagram.com/marruube/"><img src="static/images/img_instagram.png" alt="Instagram"></a>
        <a href="https://www.pinterest.at/mariesp1997/"><img src="static/images/img_pinterest.png" alt="Pinterest"></a>
      </div>
    </div>
  </div>


  <!-- JavaScript Part -->
  <script src="static/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="static/js/swipe-content.js"></script> <!-- A Vanilla JavaScript plugin to detect touch interactions -->
  <script src="static/js/main.js"></script>

  {% endblock %}
</body>

</html>
